{% extends 'base.html' %}
{% load static %}

{% block title %}
  Pet's Planet
{% endblock %}

{% block content %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider slider_bg_1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 col-md-30">
                        <div class="slider_text">
                            <h3> Innotech Hack  <br>"StarTrek"  </h3>
                            <p>Финансовый профиль на основе<br> подгружённых данных.</p>
                            <a href="{% url 'analize' %}" class="boxed-btn4">Распознать Фото</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- slider_area_end -->

        <!-- adapt_area_start  -->
    <div class="adapt_area">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <div class="adapt_help">
                        <div class="section_title">
                            <h3>Полезный продукт 
                                 в стороне не останется</h3>
                            <p>Идентификация человека банком на основании его биометрических данных – процедура, стремительно набирающая популярность по всему миру. Данная технология широко распространяется в самых разных сферах и постепенно становится частью жизни большинства людей. Наглядный пример биометрической идентификации – пресловутый Face ID, встроенный в любой современный смартфон.  </p> 
                            {% comment %} <a href="{% url 'card' %}" class="boxed-btn3">Картотека</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="adapt_about">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_adapt text-center">
                                    <img src="{% static "img/adapt_icon/1.png" %}" alt="">
                                    <div class="adapt_content">
                                        <h3 class="counter">371</h3>
                                        <p>Действующих банков в РФ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_adapt text-center">
                                    <img src="{% static "img/adapt_icon/3.png" %}" alt="">
                                    <div class="adapt_content">
                                        <h3><span class="counter">43 </span>%</h3>
                                        <p>Используют биометрию</p>
                                    </div>
                                </div>
                                <div class="single_adapt text-center">
                                    <img src="{% static "img/adapt_icon/2.png" %}" alt="">
                                    <div class="adapt_content">
                                        <h3><span class="counter">78</span>%</h3>
                                        <p>Довольных клиентов</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- adapt_area_end  -->

    <!-- pet_care_area_start  -->
    <div class="pet_care_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="pet_thumb">
                        <img src="{% static "img/about/1.png" %}" alt="">
                    </div>
                </div>
               <div class="col-lg-6 offset-lg-1 col-md-6">
                    <div class="pet_info">
                        <div class="section_title">
                            <h3><span>"Ничего лишнего" </span> <br>
                               </h3>
                            <p>Популярные социальные сети содержат много полезной информации. <br> Загрузка фото -> ожидание -> результат.
							<br> Безусловным преимуществом такой системы распознавания является ее быстродействие. Принцип работы знаком каждому: достаточно взглянуть в «окошко» камеры – и все, дело сделано. При этом клиенту банка не нужно иметь при себе тонну документов и запоминать очередную пару логин/пароль. <br>
                               </p>
                            <a href="{% url 'analize' %}" class="boxed-btn3">Распознать Фото</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pet_care_area_end  -->




    

    <!-- testmonial_area_start  -->
    <div class="testmonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="textmonial_active owl-carousel">
                        <div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
                                <div class="test_thumb">
                                    <img src="{% static "img/testmonial/1.jpg" %}" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>Никита Палтусов</h4>
                                    <span>Директор</span>
                                    <p>«Когда вы создаете собственную компанию, это больше похоже на искусство, чем на науку, ведь вы ничего не знаете. Вместо решения профильных проблем, попробуйте решить что-нибудь глубоко личное для вас самих. Всё будет идеально, если вы будете обычным человеком и просто решите собственную проблему способом, который может помочь миллионам других людей».</p>
                                </div>
                            </div>
                        </div>
						
                        
                        <div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
                                <div class="test_thumb">
                                    <img src="{% static "img/testmonial/3p.jpg" %}" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>Александр Поляков</h4>
                                    <span>Фронт-энд специалист</span>
                                    <p>«По-хорошему, больше половины популярных работ были написаны просто отвратительно. Вернее, хайп вокруг них совершенно не соответствует качеству кода и уровню поддержки от организаторов. Но поскольку на Front подсаживалась сразу куча людей, он выживал и продолжал существовать».</p>
                                </div>
								</div>
								</div>
								<div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
                                <div class="test_thumb">
                                    <img src="{% static "img/testmonial/4r.jpg" %}" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>Антон Симаков</h4>
                                    <span>Бэк-энд специалист</span>
                                    <p>«Пользователь совершает действие, а реакция сервиса или сайта на него затрагивает нужную часть бэкенда. В это понятие входит всё, что позволяет вам реализовывать логику работы тех функций, которые предоставляет интерфейс».</p>
                                </div>
								</div>
								</div>
								<div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
								<div class="test_thumb">
                                    <img src="{% static "img/testmonial/5sh.jpg" %}" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>Дмитрий Шалькин</h4>
                                    <span>Специалист БД</span>
                                    <p>«Data science может показаться на первый взгляд сложным — и так оно и есть! Однако, удивительный факт в том, что data science можно сравнить с луковицей: надо изучать слой за слоем. Это называется top-down approach, когда ты сначала на примитивном уровне смотришь, как работают алгоритмы, как за пару строк можно натренировать нейросеть — без фактического знания процессов — просто задаешь входные данные, пару строк кода, и все. Первый слой луковицы снят. Дальше больше. Тебе становится интересно, ты хочешь уже узнать — как. Как оно работает? Ты погружаешься глубже, смотришь на код, реализацию. Потом тебе становится интересно, почему этот код написан так. Оказывается, что есть теоретические обоснования. И так далее. Поддерживайте в себе интерес. Начинайте с верхней части, она вдохновляет. Почитайте Ричарда Фейнмана, он много писал про такой подход».</p>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- testmonial_area_end  -->

    

    <div class="contact_anipat anipat_bg_1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact_text text-center">
                        <div class="section_title text-center">
                            <h3>Интересные факты</h3>
                            <p>Знаменитым и самым «денежным», ограблением века, считается кража в Рейхсбанке. Большая часть золота и ценностей, которые немцы вывезли из захваченных стран, хранились в этом немецком учреждении по финансам.<br> Первый банкомат не сильно древнее изобретение. Дата его рождения 1967 год. Основным материалом в работе были ваучеры. Только позже стали карты.  <br> Банковской системе уже пять веков. Венеция – родина банка. А дата рождения 1584 год. </br> </p>
                        </div>
                        <div class="contact_btn d-flex align-items-center justify-content-center">
                            <a href="{% url 'posts_list_url' %}" class="boxed-btn4">Отзывы</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% comment %} <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=1024">
      <title>1: No CSS</title>
   </head> {% endcomment %}
 
   



{% endblock %}

