{% extends 'base.html' %}
{% load static %}

{% block title %}
  Цены - {{ block.super }}
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            <h1 class="mb-5" >Цены на услуги</h1>
        </div>
            <p class="text">Ниже вы найдете примеры цен на основные работы по ремонту Главсервис (холодильники, морозильные камеры, винные и сигарные шкафы). Стоимость, как правило, варьируется от сложности работы, типа модели и затрат на запасные части для замены. Наше предложение выгоднее большинства сервисных центров, а за проделанную работы мы полностью отвечаем, предоставляя гарантию длительностью в пол года. Если у вас возникли вопросы и вы хотите получить первичную консультацию — позвоните по телефону, указанному в верхней части сайта и наши сотрудники сориентируют васо возможных поломках и сложности ремонта вашей бытовой техники.</p>

<div class="wpb_text_column wpb_content_element">
<table style="height: 946px;" width="613">
<tbody>
<tr>
<td width="449"><b>ПРЕЙСКУРАНТ НА РЕМОНТНЫЕ РАБОТЫ ТЕХНИКИ </b></td>
</tr>
<tr>
<td width="449">Наименование работ</td>
<td width="75">Стоимость</td>
</tr>
<tr>
<td width="449">Выезд специалиста на дом (в черте города)</td>
<td width="75">350</td>
</tr>
<tr>
<td width="449">Выезд специалиста на дом (в пригород)+40 руб км</td>
<td width="75">350</td>
</tr>
<tr>
<td width="449">Диагностика (оплачивается только в случае отказа от ремонта)</td>
<td width="75">700</td>
</tr>
<tr>
<td width="449">Простой ремонт (с заменой не более одной детали)</td>
<td width="75">1100</td>
</tr>
<tr>
<td width="449">Сложный ремонт (ремонт или замена электронных и электромеханических узлов и компонентов прибора)</td>
<td width="75">2300</td>
</tr>
<tr>
<td width="449">Ремонт, связанный с разбором испарителя (замена ТЭНа)</td>
<td width="75">3200</td>
</tr>
<tr>
<td width="449">Сложный ремонт с использованием сварки и заправкой хладагентом(фреоном)</td>
<td width="75">3200</td>
</tr>
<tr>
<td width="449">Демонтаж + монтаж встраиваемой холодильной техники</td>
<td width="75">950</td>
</tr>
<tr>
<td width="449">Перенавес дверей на холодильнике*</td>
<td width="75">1700</td>
</tr>
<tr>
<td width="449">Перенавес дверей на холодильнике (сложный)**</td>
<td width="75">2300</td>
</tr>
<tr>
<td width="449">* На выполненную работу выдается акт предоставляющий гарантию 24 месяца, подтверждающий правильность выполнения данной операции для гарантийного обслуживания.</td>
</tr>
<tr>
<td width="449">** Перенавес дверей на холодильнике с гидравлическими шарнирами, стеклянными фасадами дверей, электронными элементами управления и индикации на дверях холодильника.</td>
</tr>
<tr>
<td><font color="red">Обращаем ваше внимание! Все виды работ, производимые с аппаратами серий <b>Premium BioFresh</b>, <b>Premium NoFrost</b>, а также с <b>винными шкафами</b>, тарифицируются по <b>коэффициенту 1.3</b> от стандартной цены.</font></td>
</tr>
<tr>
</tr>
<tr>
<td width="449"><b>ПРЕЙСКУРАНТ НА МОНТАЖНЫЕ РАБОТЫ ТЕХНИКИ </b></td>
<style>.price-blue{color:#5ec5f8;font-size:13px;}</style>
</tr>
<tr>
<td width="449">Установка встраиваемого холодильника</td>
<td width="75">от 2200</td>
</tr>
<tr>
<td width="449">Установка встраиваемой морозильной камеры</td>
<td width="75">от 1500</td>
</tr>
<tr>
<td width="449">Установка винного шкафа</td>
<td width="75">от 1500</td>
</tr>
<tr>
<td width="449">Установка хьюмидора</td>
<td width="75">от 1500</td>
</tr>
<tr>
<td width="449">(цена может меняться от требуемой дополнительной подготовки ниши для встраивания, наличия коммуникаций и особенности фасадов мебели)</td>
</tr>
<tr>
<td width="449">В установку входит монтаж прибора в нишу, навес и настройка фасадов, обеспечение хорошей вентиляции системы охлаждения компрессора и конденсатора прибора, подключение к электро и водо снабжению.</td>
</tr>
</tbody>
</table>
                

            {% comment %} <div class="col-6 offset-md-2"> {% endcomment %}
            {% comment %} </div> {% endcomment %}
    </div>
</div>




	


{% endblock %}