{% extends 'base.html' %}
{% load static %}

{% block title %}
  Запчасти - {{ block.super }}
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">

            <h1 class="mb-5" >Запчасти</h1>
        </div>
            <p class="text">Обращаем ваше внимание, что замена ручки (ремкомплекта) – не простое занятие. Для самостоятельного корректного демонтажа старой детали потребуются три различные биты, удлиненной конструкции, которые можно купить далеко не в каждом строительном магазине и за деньги, большие, чем стоимость услуги по замене. Кроме того, существует возможность порчи закладной для крепления ручки, находящейся внутри двери, что сделает невозможным монтаж новой детали.</p>

<div class="wpb_wrapper">
<div class="custom-table custom-table-3"></div><table style="height: 183px;" width="500">
<caption>* Цены действительны при заказе услуги по монтажу детали</caption>
<thead>
<tr>
<th>&nbsp;</th>
<th style="text-align: center;">Деталь</th>
<th style="text-align: center;">Выезд мастера</th>
<th style="text-align: center;">Установка</th>
<th style="text-align: center; background: #DB864B;">Итого</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: left;">Ручка белая 21 см</td>
<td style="text-align: center;">1700</td>
<td style="text-align: center;">350</td>
<td style="text-align: center;">150</td>
<td style="text-align: center; background: #DB864B;">2200</td>
</tr>
<tr>
<td style="text-align: left;">Ручка белая 31 см</td>
<td style="text-align: center;">1900</td>
<td style="text-align: center;">350</td>
<td style="text-align: center;">150</td>
<td style="text-align: center; background: #DB864B;">2400</td>
</tr>
<tr>
<td style="text-align: left;">Ремкомплект серебристый</td>
<td style="text-align: center;">1950</td>
<td style="text-align: center;">350</td>
<td style="text-align: center;">1100</td>
<td style="text-align: center; background: #DB864B;">3400</td>
</tr>
</tbody>
</table></div></div></div></div></div></div></div>


            </div>
    </div>
</div>




	


{% endblock %}